MYSQL_DATA_DIR=D:/HomeServer/data/gsmap-mysql
MYSQL_LAN_ADDRESS=192.168.11.2
MYSQL_HOST=192.168.11.2
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=CHANGE_TO_A_LONG_RANDOM_PASSWORD
MYSQL_USER=gsmap_app
MYSQL_PASSWORD=CHANGE_TO_A_DIFFERENT_LONG_RANDOM_PASSWORD
MYSQL_READER_USER=gsmap_reader
MYSQL_READER_PASSWORD=CHANGE_TO_A_THIRD_LONG_RANDOM_PASSWORD
ADMINER_PORT=8081
